

#header{
    width: 100%;
    background-color: gray;
    max-height: 50px; 
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

#header img{
    width: 40px;
    margin: 0 auto;
    display: inline;
}

#nav-bar{
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li a {
    display: inline-block;
  }

section h2{
    display: block;
    text-align: center;
    margin: 10px 0;

}

section form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}



#products{
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}




@media only screen and (max-width: 600px) {
    body {
     
    }
  }