.flex-container{
    display: flex;
}

#header{
    width: 100%;
    background-color: gray;
    max-height: 50px; 
}

#header img{
    width: 40px;
    margin: 0 auto;
    display: inline;
}

#nav-bar{
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  li {
    display: inline;
  }

.products{
    width: 100%;

}

.products iframe{
    display: inline;
    margin: 0 auto;
}


@media only screen and (max-width: 600px) {
    body {
     
    }
  }